/* Login */
.container {
  display: flex;
  height: 100vh;
}

.login-container {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  margin-bottom: 1em;
  font-size: 4em;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-items: center;
}

.submit-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.background {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0%;
  right: 0%;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.insta {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Dashboard */
body {
  padding-top: 3em;
}

.projects-cards {
  padding: 2em;
}

/* Dashboard */
.chart-container {
  position: relative;
  height: 400px;
  margin-bottom: 30px;
}