<!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../images/logoTM.png" alt="" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/index.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/dashboards.html">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/help.html">Help</a>
          </li>
        </ul>
        <nav class="navbar navbar-light bg-light">
          <form class="container-fluid justify-content-start">
            <button class="btn btn-warning me-2" type="button" id="pokemonBtn" onclick="getRandomPokemon()">Pokémon Aleatorio</button>
            <a href="../pages/signin.html"><button class="btn btn-outline-secondary me-2" type="button">Sign In</button></a>
            <a href="../pages/login.html"><button class="btn btn-outline-primary me-2" type="button">Log In</button></a>
          </form>
        </nav>
      </div>
    </div>
  </nav>
  <!-- End of NavBar -->